:root {
  --bg-color: #353535;
  --blue-color: #284b63;
  --gray-color: #d9d9d9;
  --white-color: #fff;
  --green-color: #3c6e71;
  --font-main: "Dosis", sans-serif;
  --font-auxiliar: "Source Serif Pro", serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color);
}

h1 {
  text-align: center;
  font-family: var(--font-main);
  color: var(--white-color);
  font-size: 2.5rem;
}

.error {
  min-width: 250px;
  max-width: 400px;

  font-family: var(--font-auxiliar);
  font-size: 1.4rem;
  text-align: center;
  color: var(--white-color);

  background-color: #BF3F3F;
}

#form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#form input {
  min-width: 280px;
  max-width: 400px;
  margin: 10px;
  padding: 10px;

  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--white-color);
}

#form button {
  margin-bottom: 5px;
  padding: 10px;

  font-size: 1.6rem;
  color: var(--white-color);
  font-family: var(--font-main);

  background-color: var(--green-color);
  border-radius: 5px;
  border: none;
}

.clearTask {
  min-width: 250px;
  padding: 5px;

  text-align: center;
  color: #69D8EB;
  font-family: var(--font-auxiliar);
  font-size: 1.4rem;

  background-color: var(--blue-color); 
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 290px;
  max-width: 400px;
  padding: 10px;
  margin: 5px;

  background-color: var(--white-color);
  border-radius: 5px;
}

.textTask {
  font-family: var(--font-main);
  font-size: 1.6rem;

  color: var(--blue-color);
}

.task i {

  padding: 10px;
  margin: 0 5px;
  font-size: 2rem;

  color: var(--blue-color);
  background-color: var(--gray-color);
  border-radius: 5px;

}

.icons {

  display: flex;
  justify-content: center;
  width: 100px;

}

.hide {
  display: none;
}

.check {
  text-decoration: line-through;
}

.bgGreen {
  background-color: var(--green-color);
}
